#about
  %h2 about me

  I'm a 32 year old guy living in Co. Kildare. I like to do lots of sports and outdoor activities. 
  I play gaelic football, canoe polo and have done a few triathlons.  I also like to run.

  I represented Ireland for a number of years in canoe polo and played in 3 European Championships 
  and 1 World Championship. I am also an international standard referee. I have completed 1 
  half-ironman and plan to do a full one at some stage in the near future.

  %h2 about this site

  I wrote this site using 
  %a{:href => "http://cakephp.org"}CakePHP
  to track the mileage I do when training and commuting. I will be expanding it to track all the 
  training I do, what equipment I use (and when to bin it) and anything else that I can think of 
  tracking as time goes on.


#contact_me
  %h2 contact me

  %a{:href => "mailto:griffinm@gmail.com"}
    %img{:src => "/images/email.png", :alt => "email"}
    EMail
  %a{:href => "http://www.twitter.com/griffinmike"}
    %img{:src => "/images/twitter.png", :alt => "twitter"}
    Twitter
  %a{:href => "http://bucketofstuff.tumblr.com"}
    %img{:src => "/images/tumblr.png", :alt => "tumblr"}
    Tumblr

.clear &nbsp;