%table
  -@years.each do |y|
    %tr{ :class => alternate('other', '') }
      %td
        %a{:href => "/archive/#{y[:year]}"}= y[:year]
      %td
        #{y[:total]}km
%img{:src => "/graphs/yearly.svg", :height => 400, :width => 600}
