%table
  -@years.each do |y|
    %tr{ :class => alternate('other', '') }
      %td
        %a{:href => "/archive/#{y[:year]}"}= y[:year]
      %td
        #{y[:total]}km
%img{:src => "/graphs/yearly.svg", :height => 400, :width => 600}
%h3 Races I've done
%dl
  %dt 2012
  %dd Leinster Senior Road Race
  %dd Dublin Graded Track meet, 1500m
  %dd Leinster Novice Road Race
  %dd Dublin Graded Track meet, 3000m
  %dd Kilmovee 10k
  %dd Liffey Valley Club 2 mile
  %dd MSBAC 5k
  %dd Avondale Cup
  %dd National Senior Club Cross Country Championships
  %dd National Intermediate Cross Country Championships
  %dd Liffey Valley Club Cross Country
  %dt 2011
  %dd Liffey Valley Club Cake Race
  %dd Jingle Bells 5km
  %dd Dublin Intermediate Cross Country
  %dd Dublin Marathon
  %dd Howth Triathlon
  %dd Bull Wall Aquathon
  %dd Ironman Lanzarote
  %dt 2010
  %dd Ireland's Eye Swim
  %dd Phoenix Park Duathlon
  %dd Howth Aquathon
  %dd Lough Allen Triathlon
  %dt 2009
  %dd Gower off road marathon
  %dd Dublin Marathon
  %dd Connemarathon
  %dt 2008
  %dd Swiss Ironman 70.3
  %dd Fingal Sprint Triathlon
