%table
  -@years.each do |y|
    %tr{ :class => alternate('other', '') }
      %td
        %a{:href => "/archive/#{y[:year]}"}= y[:year]
      %td
        #{y[:total]}km
%img{:src => "/graphs/yearly.svg", :height => 400, :width => 600}
%h3 Races I've done
%dl
  %dt 2014
  %dd Tom Brennan 5k
  %dt 2013
  %dd Liffey Valley Club Cake Race
  %dd Jingle Bells 5k
  %dd Leinster Intermediate XC
  %dd Dublin Senior XC
  %dd Gerry Farnan XC
  %dd Dublin Graded Track meet, 800m
  %dd Dublin Graded Track meet, 1 mile
  %dd Dublin Graded Track meet, 1500m
  %dd Dublin Graded Track meet, 1500m
  %dd Tooreen 10k
  %dd Great Ireland Run/AAI National 10k championships
  %dd Liffey Valley Club 2 mile
  %dd Avondale Cup
  %dd MSBAC 5k
  %dd National Senior XC
  %dd Liffey Valley Club Cross Country
  %dd Leinster Senior XC
  %dd Tom Brennan 5k
  %dt 2012
  %dd Liffey Valley Club Cake Race
  %dd Jingle Bells 5k
  %dd Dublin Intermediate XC
  %dd Leinster Intermediate XC
  %dd Dublin Senior XC
  %dd Gerry Farnan XC
  %dd Dublin Novice XC
  %dd Star of the Sea XC, Stamullen
  %dd Myles Cullen 10k
  %dd Belcoo 10k
  %dd Phoenix Park Duathlon
  %dd Leinster Senior Road Race
  %dd Dublin Graded Track meet, 1500m
  %dd Leinster Novice Road Race
  %dd Dublin Graded Track meet, 3000m
  %dd Kilmovee 10k
  %dd Liffey Valley Club 2 mile
  %dd MSBAC 5k
  %dd Avondale Cup
  %dd National Senior Club Cross Country Championships
  %dd National Intermediate Cross Country Championships
  %dd Liffey Valley Club Cross Country
  %dt 2011
  %dd Liffey Valley Club Cake Race
  %dd Jingle Bells 5km
  %dd Dublin Intermediate Cross Country
  %dd Dublin Marathon
  %dd Howth Triathlon
  %dd Bull Wall Aquathon
  %dd Ironman Lanzarote
  %dt 2010
  %dd Ireland's Eye Swim
  %dd Phoenix Park Duathlon
  %dd Howth Aquathon
  %dd Lough Allen Triathlon
  %dt 2009
  %dd Gower off road marathon
  %dd Dublin Marathon
  %dd Connemarathon
  %dt 2008
  %dd Swiss Ironman 70.3
  %dd Fingal Sprint Triathlon
