%form{:id => 'convert'}
  %fieldset
    %legend Distances
      %p{:id => 'distanceCalculator'}
        <span class="TKAdjustableNumber" data-var="kilometres">km</span> is the same as <span data-var="miles" data-format="%.1f"> miles</span>
  %fieldset
    %legend Speeds
    %input{:type => 'text', :name => 'kmph', :id => 'kmph'}
    %label{:for => 'kmph'} km/h
    %br
    %input{:type => 'text', :name => 'mph', :id => 'mph'}
    %label{:for => 'mph'} mph
    %br
    %input{:type => 'text', :name => 'minperkm', :id => 'minperkm'}
    %label{:for => 'minperkm'} min/km
    %br
    %input{:type => 'text', :name => 'minpermile', :id => 'minpermile'}
    %label{:for => 'minpermile'} min/mile
  %fieldset
    %legend Race times
    %table
      %tr
        %td Marathon
        %td#marathon
      %tr
        %td Half Marathon
        %td#halfmarathon
      %tr
        %td 10K
        %td#10k
%script{:type => "application/x-javascript", :src => "/javascript/jquery-1.5.min.js"}
%script{:type => "application/x-javascript", :src => "/javascript/application.js"}

%script{:type => "application/x-javascript", :src => "/javascript/tangle.js"}
%script{:type => "application/x-javascript", :src => "/javascript/tangleKit/mootools.js"}
%script{:type => "application/x-javascript", :src => "/javascript/tangleKit/BVTouchable.js"}
%script{:type => "application/x-javascript", :src => "/javascript/tangleKit/sprintf.js"}
%script{:type => "application/x-javascript", :src => "/javascript/tangleKit/TangleKit.js"}
%script{:type => "application/x-javascript", :src => "/javascript/tangle_app.js"}
