%form{:method => :post, :action => '/login'}
  %input{:id => "username", :name => "username", :type => "text", :tabindex => 1}
  %input{:id => "password", :name => "password", :type => "password", :tabindex => 2}
  %input{:id => "submit", :type => "submit", :value => "log in", :tabindex => 3}