.total
  %a{:href => '/week'}
    %span.title this week
    = @totals[:week].to_i.to_km
.total
  %a{:href => '/month'}
    %span.title this month
    = @totals[:month].to_i.to_km
.total
  %a{:href => '/year'}
    %span.title this year
    = @totals[:year].to_i.to_km
.clear
