- if @exercise.id
  %p.admin 
    &laquo; 
    %a{:href => '/', :accesskey => 'r'}Leave as is
    &raquo;
%form{:method => :post, :action => '/sport'}
  %input{:type => "hidden", :name => "id", :value => @exercise.id}
  %label{:for => "start_time"}When
  %input{:id => "start_time", :name => "start_time", :type => "text", :value => @exercise.nicetime, :tabindex => 1}
  %br
  %label{:for => "duration"}How long
  %input{:id => "duration", :name => "duration", :type => "text", :value => ChronicDuration.output(@exercise.duration, :format => :short), :tabindex => 2}
  %br
  %label{:for => "distance"}How far
  %input{:id => "distance", :name => "distance", :type => "text", :value => @exercise.kmdistance, :tabindex => 3}
  %br
  %label{:for => "tags"}Tags
  %input{:id => "tags", :type => "text", :name => "tags", :value => @exercise.tags.map { |t| t.name }.join(', '), :tabindex => 4}
  %br
  %label{:for => "comment"}Comment
  %textarea{:id => "comment", :name => "comment", :tabindex => 5}= @exercise.comment
  %br
  %input{:id => "submit", :type => "submit", :value => "add", :tabindex => 6}