%a.twitter-share-button{:href => 'https://twitter.com/share', 'data-count' => 'none', 'data-via' => 'griffinmike'}Tweet
%script{:type => 'text/javascript', :src => 'http://platform.twitter.com/widgets.js'}
