%h3 Posts
-if @articles.empty?
  There are no articles tagged with 
  = params[:tag]
-else
  ~ haml :list_of_posts, :layout => :false
%h3 Exercises
-if @sports.empty?
  There are no exercises tagged with 
  = params[:tag]
-else
  ~ haml :sport_log, :layout => false