body {
    background-color: #000;
    text-align: center;
    font:12px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
}
img {
    margin: 50px auto;
}
h2 {
    color: #f00;
}