<html>
  <head>
    <title>
      watchmetrain
      
    </title>
    <link href="/css/screen.css" type="text/css" rel="stylesheet">
    <link href="/css/style.css" type="text/css" rel="stylesheet">
    <link href="/css/TangleKit.css" type="text/css" rel="stylesheet">
    <meta content="QyXCA0FeoNi1CUlxSjgQEvs3TXCwDuMmP_h2qFNLylw" name="google-site-verification">
  </head>
  <body>
    <div id="header">
      <h1>
        <a href="/">watch me train</a>
        <span>a log and graphs</span>
      </h1>
      <ol id="links">
        <li>
          <a href="/about">about</a>
          |
          <a href="/archive">archive</a>
          |
          <a href="/convert">convert</a>
        </li>
      </ol>
    </div>
    <div id="container">
      <div id="content">
        {% block content %}
        {% endblock %}
      </div>
    </div>
    <div id="footer">
      <p class="quiet">
        All training done by
        <a href="/about">Mike Griffin</a>
        <a href="http://feeds.feedburner.com/Watchmetrainnet-RecentPosts">
          <img src="/images/feed-icon-14x14.png" alt="feed">
        </a>
      </p>
    </div>
    <!--
    <script type="text/javascript" async="" src="https://ssl.google-analytics.com/ga.js"></script><script>
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-3683943-13']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    -->

  </body>
</html>
