<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />	<title>
		Watchmetrain - 		Exercises	</title>
	<link rel="stylesheet" type="text/css" href="/css/screen.css" />
	<link rel="stylesheet" type="text/css" href="/css/print.css" media="print" />
	<link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<body>
	<div id="header">
		<h1><a href="http://watchmetrain.net">watch me train</a>        <span>a log and graphs</span>

        </h1>
        <ol id="links">
            <li><a href="/about">about</a></li>
            <li><a href="/challenges">challenges</a></li>
            <li><a href="/archive">archive</a></li>
        </ol>
	</div>

	<div id="container">
		<div id="content">

{{ content }}

		</div>
	</div>
	<div id="footer">
        <p class="quiet">All training done by <a href="/about">Mike Griffin</a>        <a href="http://feeds.feedburner.com/Watchmetrainnet-RecentPosts"><img src="/images/feed-icon-14x14.png" alt="Subscribe to the feed" /></a></p>
	</div>

</body>
</html>
